/Experiment_1/*.iml
/Experiment_1/.gradle
/Experiment_1/local.properties
/Experiment_1/.idea/caches
/Experiment_1/.idea/libraries
/Experiment_1/.idea/modules.xml
/Experiment_1/.idea/workspace.xml
/Experiment_1/.idea/navEditor.xml
/Experiment_1/.idea/assetWizardSettings.xml
/Experiment_1/.DS_Store
/Experiment_1/build
/Experiment_1/captures
/Experiment_1/.externalNativeBuild
/Experiment_1/.cxx
/Experiment_1/local.properties
/Experiment_2/*.iml
/Experiment_2/.gradle
/Experiment_2/local.properties
/Experiment_2/.idea/caches
/Experiment_2/.idea/libraries
/Experiment_2/.idea/modules.xml
/Experiment_2/.idea/workspace.xml
/Experiment_2/.idea/navEditor.xml
/Experiment_2/.idea/assetWizardSettings.xml
/Experiment_2/.DS_Store
/Experiment_2/build
/Experiment_2/captures
/Experiment_2/.externalNativeBuild
/Experiment_2/.cxx
/Experiment_2/local.properties
/Experiment_3/*.iml
/Experiment_3/.gradle
/Experiment_3/local.properties
/Experiment_3/.idea/caches
/Experiment_3/.idea/libraries
/Experiment_3/.idea/modules.xml
/Experiment_3/.idea/workspace.xml
/Experiment_3/.idea/navEditor.xml
/Experiment_3/.idea/assetWizardSettings.xml
/Experiment_3/.DS_Store
/Experiment_3/build
/Experiment_3/captures
/Experiment_3/.externalNativeBuild
/Experiment_3/.cxx
/Experiment_3/local.properties
